.mensagem-erro-404 {
    font-size: 32px !important;
    text-align: center !important;
    margin-top: 0px;
}

body {
    overflow-x: hidden !important;

}

header {
    width: 100vw !important;
    height: 100vh !important;
    object-fit: cover !important;
}

.bannerPrincipal h1 {
    margin: 5%;
}